.laboral {
    display: flex;
    flex-direction: row;
    
    dt {
        color: #dcc27b;
        font-weight: 600;
        font-size: 18px;
        margin-left: 2rem;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 0.5em;
    }
    
    dd {
        color: #FFFFFF;
        font-size: 16px;
        margin-left: 4rem;
        margin-bottom: 1em;
    }

    dl {
        dl {
            margin-left: 4rem;
        }
    }
    
}

.cabeceraLaboral {
    font-weight: 700; 
    font-size: 26px;
    color: #e6a900;
    margin: 20px;
}

button {
  appearance: none;
  background-color: #e6a900;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
